@font-face {
   font-family: 'Barbara';
   src: url(../fonts/Barbara.ttf);
}

@font-face {
   font-family: 'CenturyGothic';
   src: url(../fonts/CenturyGothic.ttf);
}

@font-face {
   font-family: 'impact';
   src: url(../fonts/impact.ttf);
}

// src: url(../fonts/GeorgiaBrush.otf);