.home-header {
   .brand-logo {
      max-width: 380px;

      @media screen and (max-width: 991px) {
         max-width: 200px;
      }

      @media screen and (max-width: 767px) {
         max-width: 150px;
      }

      @media screen and (max-width: 575px) {
         max-width: 100px;
      }
   }

   .navbar-collapse {
      .navbar-nav {
         .nav-link {
            font-family: 'Barbara';
            font-size: 24px;
            font-weight: 400;
            color: #000000e2;
            padding-left: 1rem;
            padding-right: 1rem;

            @media screen and (max-width: 767px) {
               font-size: 18px;
            }
         }
      }
   }
}