/*=== abstracts css start === */
@font-face {
  font-family: "Barbara";
  src: url(../fonts/Barbara.ttf);
}
@font-face {
  font-family: "CenturyGothic";
  src: url(../fonts/CenturyGothic.ttf);
}
@font-face {
  font-family: "impact";
  src: url(../fonts/impact.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "CenturyGothic";
}

/*===// end of base css === */
/*=== components css start === */
/*===// end of components css === */
/*=== layouts css start === */
.home-header .brand-logo {
  max-width: 380px;
}
@media screen and (max-width: 991px) {
  .home-header .brand-logo {
    max-width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .home-header .brand-logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 575px) {
  .home-header .brand-logo {
    max-width: 100px;
  }
}
.home-header .navbar-collapse .navbar-nav .nav-link {
  font-family: "Barbara";
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8862745098);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 767px) {
  .home-header .navbar-collapse .navbar-nav .nav-link {
    font-size: 18px;
  }
}

.footer {
  padding: 50px 0 30px;
  background: linear-gradient(#e53a3a, #880606);
}
.footer .footer-button {
  font-family: "CenturyGothic";
  font-size: 70px;
  color: #fff;
  background: linear-gradient(0deg, rgb(3, 108, 142) 0%, rgb(5, 59, 94) 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  min-width: 300px;
}
@media screen and (max-width: 1399px) {
  .footer .footer-button {
    font-size: 60px;
    min-width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .footer .footer-button {
    font-size: 35px;
    min-width: 300px;
  }
}
.footer .footer-button:hover {
  background: #fff;
  color: #12549d;
}
.footer .image-logo {
  padding-top: 50px;
}
.footer .image-logo img {
  width: 100%;
  max-width: 750px;
}
.footer .footer-nav {
  padding-top: 50px;
}
.footer .footer-nav p {
  font-family: "CenturyGothic";
  font-size: 25px;
}
@media screen and (max-width: 1399px) {
  .footer .footer-nav p {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .footer .footer-nav p {
    font-size: 14px;
  }
}
.footer .footer-nav .footer-links .nav-link {
  font-family: "CenturyGothic";
  font-size: 25px;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 1399px) {
  .footer .footer-nav .footer-links .nav-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .footer .footer-nav .footer-links .nav-link {
    font-size: 14px;
    padding: 6px;
  }
}
.footer .footer-nav .footer-links .nav-link:hover {
  background: #fff;
  color: #12549d;
}

/*===// end of layouts css === */
/*=== pages css start === */
.home-banner {
  background: url(../images/home/banner-bg.png) no-repeat bottom center/cover;
  padding: 20px 0 150px;
}
@media (min-width: 1400px) {
  .home-banner {
    padding-bottom: 220px;
  }
}
@media (max-width: 400px) {
  .home-banner {
    padding-bottom: 80px;
  }
}

.home-video-section {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .home-video-section {
    margin-top: -40px;
  }
}

.how-work {
  background: url(../images/home/how-work-bg.png) no-repeat top right/cover;
  padding-top: 200px;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .how-work {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
.how-work .section-heading {
  font-family: "impact";
  color: #fff;
}
.how-work .section-sub-heading {
  font-family: "impact";
  color: #fff;
}

.matrix-board .matrix-board-content {
  background-color: #000;
  padding: 80px 0;
}
.matrix-board .matrix-board-content .matrix-board-img {
  padding: 10px;
}
@media (min-width: 768px) {
  .matrix-board .matrix-board-content .matrix-board-img {
    max-width: 50%;
  }
}
.matrix-board .matrix-board-content p {
  color: #fff;
}/*# sourceMappingURL=style.css.map */